.ui-sortable-handle {
    cursor: grab;
}

.ui-sortable-handle:active {
    cursor: grabbing;
}

.drop-area {
    border: 3px dashed #C8C8C8 !important;
    background-color: #F0F0F0 !important;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
}

#popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #CCC;
}

select[disabled] {
    color: #999;
    background-color: #555;
    cursor: not-allowed;
}

input[disabled] {
    color: #999;
    background-color: #555;
    cursor: not-allowed;
}

#preview-element {
    font-weight: bold;
}

.drop-area label {
    width: 100%;
    display: inline-block;
}

.drop-area label:hover {
    cursor: pointer;
}

.drop-area label input {
    display: none;
}

.drop-area label svg {
    width: 50px;
    fill: currentColor;
    color: #909090;
}

.drop-area label .preview-area {
    width: 75%;
    margin: 15px auto;
    height: 120px;
}

.drop-area label .preview-area img {
    height: 100%;
    max-width: 100%;
    width: auto;
}

input {
    font-size: 100%;
    padding-left: 0;
    padding-right: 0;
}

select {
    font-size: 100%;
    width: 96px;
    padding-left: 0;
    padding-right: 0;
}

.dropdown-container {
    display: inline-block;
}

li {
    font-size: 100%;
    text-align: left;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}

.promptData {
    width: 95px;
}

.resist {
    width: 90px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

button {
    font-size: 100%;
}

.tab-group {
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.tab {
    flex-grow: 1;
    padding: 5px;
    list-style: none;
    border: solid 1px #CCC;
    text-align: center;
    cursor: pointer;
}

.panel-group {
    height: auto;
    border: solid 1px #CCC;
    border-top: none;
    background: #eee;
}

.panel {
    display: none;
}

.tab.is-active {
    background: #F00;
    color: #FFF;
    transition: all 0.2s ease-out;
}

.tab.is-alert {
    background: #FF0;
    color: #000;
    transition: all 0.2s ease-out;
}

.panel.is-show {
    display: block;
}

#optionPanel {
    position: fixed;
    top: 0;
    right: -50%;
    /* パネルを非表示にする */
    width: 50%;
    height: 100vh;
    /* 画面の高さいっぱいにする */
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    /* アニメーションを追加する */
}

#optionPanel.active {
    right: 0;
    /* パネルを表示する */
}

#show-panel {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
  }